.container{
    margin-top: 50px;
    width: 60%;
}

.studentInformation{
    background: #c2ffce;
    border:10px solid darkgray;
    margin-top: 10px;
    padding: 10px;
    color: red;
}
.resultInformation{
    background: #95f3ff;
    border: 10px solid darkgray;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    color: red;
}

label{
    color: #5cb85c;
}

table {

    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
